//////////////////
// Estilos SCSS 
/////////////////

.titulo{
    text-align: center;
    font-family: cursive;
    padding: 25px;
  }
  
  .contenido{
    padding: 25px;
    margin-bottom: 10px;
  }