<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo">Formulario Ingreso de Datos</div>

  <div class="contenido">

    <!-- Se guarde al enviar mediante submit-->
    <form action="#" method="POST" [formGroup]="persona" (ngSubmit)="actualizar()">
      <!-- Etiqueta Flotante -->
      <!-- inputs de formulario -->
      <ion-item>
        <ion-label >Rut</ion-label>
        <ion-input placeholder="Ingrese su rut" formControlName="formRut">{{perso.rut}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input placeholder="Ingrese su nombre" formControlName="formNombreCompleto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-input type="number" placeholder="Ingrese su edad" formControlName="formEdad"></ion-input>
      </ion-item>

      <!-- Imprima el valor -->
      <ion-label>{{valor}}</ion-label>

      <!-- Botones de formulario -->
      <ion-button color="success" type="submit" >Modificar</ion-button>
      <ion-button color="primary" routerLink="/pagina1" >Listar</ion-button>
    </form>
  </div>






</ion-content>